<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Mondo Home</title>
</head>
<body class="homeContainer">
  <div class='homeContainerToo'>
  <h1 class='mondoHomeHeader'>MONDO BIZZARO</h1>
  <img src="https://i.imgur.com/LmUaEh3.jpg" class="skullBear">
  <form action='/posts' method='POST' class='loginFlex'>
    <label for='userName'>Enter Username</label>
    <input name='userName' type='text' /><br />

    <label for='password'>Enter Password</label>
    <input name='password' type='text' /><br />
    
    <input type='submit' />
</form>
    <a href="/users/new">Mondo Member Login</a>
</div>
</body>
</html>