<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">           
  <title>Mondo Home</title>
</head>
<body>
  <div class="mondoArtPage">
  <header class="mondoArtTitle">
  <h1>Mondo Art</h1>
</header>
  <div class="mondoArt">
  <ul>
    <% for(let i = 0; i < posts.length; i++){ %>
      <li>
        <a href="/posts/<%= posts[i]._id %>" class="mondoArtContent">
          <%= posts[i].image %>
          <%= posts[i].title %>
        </a>
      </li>
    <% } %>
  </ul>
  <a href='/posts/new'>Create some new art!</a>
</div>
</div>
</body>
</html>