<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <title>BizzaroApp</title>
</head>

<body>
    <header>
        <h1>Art</h1>
    </header>

    <form action='/posts' method='POST'>
        <label for='title'>Name of your art peice</label>
        <input name='title' type='text' /><br />

        <label for='image'>Image of what you made</label>
        <textarea name='image'></textarea><br />
        <label for='description'>Description</label>
        <textarea name='description'></textarea><br />
        <label for='dateMade'>When you completed your art</label>
        <textarea name='dateMade'></textarea><br />
        <input type='submit' />
    </form>

</body>

</html>